.layout {
    display: grid;
    grid-template-areas: "sidebar head searchField"
                            "sidebar content trends"
                            "sidebar kl trends"
                            "sidebar kl trends"
                            "sidebar kl trends"
                            "sidebar kl trends";
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: content;
}