.homeHead {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw 1vh 1vw;
    grid-area: head;
    position: sticky;
    top: 0;
    background-color: white;
    border-right: 1px solid var(--twitter-background);
    border-bottom: 1px solid var(--twitter-background);
}

p {
    font-weight: 700;
    font-size: 20px;
}