.trendsOption {
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    font-weight: 500;
    justify-content: space-between;
    padding: 2vh 2vw;
}

.trendsOption_info__type, .trendsOption_info__countTweets {
    color: #777777;
    font-size: 0.8em;
}

.trendsOption_info__title {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.trendsOption__icon {
    width: 20px;
}
